.login-page{
    width: 100%;
    height: auto;
    padding: 70px 0;
    background: #F7F7F7;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.login-main{
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
}

.login-form{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-system{
    width: 55%;
    display: flex;
    flex-direction: column;
}
.login-system h3{
    font-size: 30px;
    font-weight: 600;
}
.login-system p{
    font-size: 16px;
    letter-spacing: 0.2px;
}

.login-system .form-item{
    width: 100%;

}
.login-system .main-form{
    margin-top: 20px;
    width: 100%;
    padding-left: 5px;
}
.login-system .form-item{
    width: 100%;
    padding: 12px 0;
    
}
.login-system .form-item input{
    width: 100%;
    font-size: 16px;
    padding: 12px 5px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    outline: none;
    background: #FFFFFF;
}
.login-system .form-item .login-btn{
    margin: 0;
    outline: none;
    margin-top: 5px;
    cursor: pointer;
}

.form-item p{
    margin: 0;
    color: var(--bluedark);
    margin-top: 20px;
}
.form-item a{
    margin-left: 10px;
    color: var(--blue);
    font-weight: 600;
}

.login-system .form-item input[type=password]:focus{
    font: large Verdana,sans-serif;
    font-size: 15px;
}


.login-right-content{
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

/* 
==================================
||||  LOGIN PAGE TABLET STYLE |||||
==================================
*/

@media only screen and (max-width: 1024px) {
    .login-system {
        width: 85%;
    }
}

/* 
==================================
||||  LOGIN PAGE MOBILE STYLE |||||
==================================
*/


@media only screen and (max-width: 768px) {
    .login-page{

        background-repeat: no-repeat;
        background-position: right top;
        background-size: auto;
    }
    .login-main{
        flex-direction: column-reverse;
    }
    .login-form{
        width: 100%;
    }
    .login-right-content{
        width: 100%;
        padding: 15px;
    }
}